@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&family=Roboto&display=swap');

/* ============================
# Custom CSS
=============================*/

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    /*Hor-scroll remover*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

* {
    font-family: 'Poppins', sans-serif;
}

p.lead {
    font-weight: bold;
    text-align: center;
}


/* ============================
# FORM
=============================*/

.form-wrapper {
    width: 70%;
}

input {
    border: none;
    outline: none;
    padding-right: 20px;
}

.td-label {
    width: 200px;
}

.td-input {
    width: 100px;
}

.multi-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.multi-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}