        @import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&family=Roboto&display=swap');
        /* ============================
 # Custom CSS
 =============================*/
        
        body {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            overflow-x: hidden;
            /*Hor-scroll remover*/
            display: flex;
            justify-content: center;
            align-items: center;
            height: 90vh;
        }
        
        * {
            font-family: 'Poppins', sans-serif;
        }
        
         ::placeholder {
            padding-left: 2px;
        }
        /* ============================
 # Navigation
 =============================*/
        
        .nav {
            position: fixed;
            top: 0;
            z-index: 1030;
            background: #000;
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .nav-brand {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-left: 60px;
        }
        
        .nav-brand img {
            width: 42px;
            transition: all .3s ease;
        }
        
        .nav-brand img:hover {
            transform: rotate(360deg);
        }
        
        .nav-links {
            margin-right: 60px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
        }
        
        .nav-links a {
            color: #fff;
            text-decoration: none;
            font-size: 13px;
            transition: all .3s ease;
        }
        
        .nav-links a:hover {
            color: #1e90ff;
        }
        /* ============================
 # Form
 =============================*/
        
        form {
            padding: 20px 35px 40px 35px;
            margin: 25px 0;
        }
        
        .form_wrapper {
            display: flex;
            background: #fff;
            box-shadow: 0 3px 10px rgba(7, 103, 213, 0.7);
            border-radius: 5px;
            margin-top: 120px;
            transition: all .3s ease-in;
            animation: border-light 10s infinite forwards ease-in-out;
        }
        
        @keyframes border-light {
            0% {
                box-shadow: 0 3px 10px rgba(7, 103, 213, 0.7);
            }
            25% {
                box-shadow: 0 3px 10px rgba(213, 12, 216, 0.7);
            }
            50% {
                box-shadow: 0 3px 10px rgba(4, 134, 134, 0.7);
            }
            75% {
                box-shadow: 0 3px 10px rgba(234, 13, 138, 0.83);
            }
            10% {
                box-shadow: 0 3px 10px rgba(7, 103, 213, 0.7);
            }
        }
        
        .form_wrapper:hover {
            transform: scale(1.1);
        }
        
        .form-success-animated {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #7acf7f;
            padding: 7px 9px;
            color: #000;
            border-radius: 5px;
            animation: show-slide .3s ease-in-out;
        }
        
        .form-warning-animated {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #ea4758;
            padding: 7px 9px;
            color: #fff;
            border-radius: 5px;
        }
        
        @keyframes show-slide {
            from {
                transform: translateY(-15px);
            }
            to {
                transform: translateY(0px);
            }
        }
        
        h1.create_text {
            text-align: center;
        }
        
        .input-group {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-flow: row wrap;
            gap: 20px;
        }
        
        input,
        label {
            margin-bottom: 10px;
        }
        
        input {
            border: none;
            outline: none;
            border-radius: 3px;
            border: 1px solid #767676;
            padding: 6px 10px 6px 10px;
        }
        
        #submit {
            width: 100%;
            margin-top: 20px;
            border: none;
            border: 1px solid #1e90ff;
            background: #1e90ff;
            color: #fff;
            padding: 7px 9px;
            transition: all .3s ease-in;
            font-size: 16px;
        }
        
        #submit:hover {
            cursor: pointer;
            background: transparent;
            border: 1px solid #1e90ff;
            color: #1e90ff;
        }